.front-banner
  margin-top 2.5em
  margin-bottom 2.5em
  div, h1, h4, a
    font-weight 100
    text-align center
    margin-left auto
    margin-right auto
  h1
    letter-spacing 0.75rem
    font-size 3rem
    margin 0
  h4
    font-size 1.5rem
    margin-top 1rem
    margin-bottom 1rem

h1
  font-weight 300

.front-row
  cf()

.front-details
  margin-top 20px
  margin-left 300px

//.front-details-left

.front-img-right
  width 100%
